{% extends "base.html" %}

     {% block body %}

    <div class="home-container">
      <form method="post" action="/result">
        <p class="text1">Jelaskan kelebihan dan harapan Anda untuk jurusan <strong>(Wajib)</strong> </p>
        <input type="text" name="description" value="saya suka ilmu teknologi dan kelistrikan" required style="width:  100%;">

        <p class="text2">Gaji Bulanan Minimum yang Diharapkan Setelah Lulus Perguruan Tinggi <strong>(Opsional)</strong></p>
        <input type="number" name="income" min="3000000" placeholder="Rupiah">
        <p class="text3">Silakan pilih paling banyak satu kategori pilihan <strong>(Opsional)</strong></p>
        <select class="custom-select" id="category" name="category">
        <option value="" selected>Pilih Kategori</option>
          {%  if categories %}
            {% for category in categories %}
              <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          {% endif %}
        </select>

        <button type="submit" class="btn button-header mt-5">Cari Rekomendasi Jurusan</button>
      </form>
      </div>
{% endblock %}
