/******************************/
/*        PAGE LAYOUT         */
/******************************/

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    color: #000;
}

nav, header, section, footer {
    display: block;
}

hr {
    margin: 50px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
}

h1, h2, h3 {
    font-weight: normal;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}



/******************************/
/*         CONTAINERS         */
/******************************/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home-container {
    padding-left: 125px;
    margin: 90px;
    justify-content: center;
    display: flex;
}

@media all and (max-width: 750px) {
    .home-container {
        padding-right: 15px;
        padding-left: 15px;
        margin: 135px auto;

    }
}


.index-color{
    background-color: #37517e;
}

.index-container {
    margin:235px auto;
}

@media all and (max-width: 750px) {
    .index-container {
        margin:339px auto;
    }
}

/******************************/
/*           NAVBAR           */
/******************************/

.navbar {
    width: 100%;
    margin: 0;
    min-height: 76px;
    border-width: 0 0 1px;
    background-color: #1f1f1f;
    font-size: 15px;
    z-index: 10;
}

/* Navbar containers */

.navbar-container {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-left {
    float: left;
    margin-top: 10px;
}

/* Left-side content */

#logo-name {
    float: right;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-left: 14px;
    margin-top: -2px;
}


/******************************/
/*           HEADER           */
/******************************/

header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: black;
    width: 100%;
    color: white;
}

/* Header content */

.header-index {
    font-family: "Jost", sans-serif;
    font-size: 75px;
    line-height: 1.1;
    margin-bottom: -100px;
    margin-top: -50px;
}

@media all and (max-width: 750px) {
    .header-index{
        font-family: "Jost", sans-serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.1;
        margin-bottom: -100px;
        margin-top: -50px;
    }
}

.header-title {
    font-family: "Jost", sans-serif;
    font-size: 62px;
    line-height: 1.1;
}

/******************************/
/*        PAGE CONTENT        */
/******************************/

.page-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 26px;
}

.homer{
    font-family: "Jost", sans-serif;
    font-size: 24px;
    color: #37517e;
}


/******************************/
/*           Kembali           */
/******************************/

.kembali {
    display: flex;
    background-color: #F5F4FA;
    font-family: 'Lobster', cursive;
    margin-left: 25px;
}

.text {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px 10px 40px;
  }
  
  .text h4 {
    color: #4A4F6A;
    font-size: 16px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    transform: translateY(8px);
  }
  
  .text span {
    opacity: 0;
    color: #858BA9;
    font-size: 12px;
    margin: -25px 0 0 1px;
    font-weight: 300;
    display: inline-block;
    transform: translateY(10px);
    transition:
      transform 500ms 0s cubic-bezier(0.2, 0, 0, 1),
      opacity 500ms 0s cubic-bezier(0.2, 0, 0, 1)
  }
  
  .text div {
    top: 30px;
    left: 0;
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    background-color: #E9E7F2;
  }
  
  .text div::after {
    content: '';
    width: 60px;
    height: 30px;
    position: absolute;
    background-image: url('https://s3-eu-west-1.amazonaws.com/thomascullen-codepen/back.svg');
    transition: transform 400ms 0s cubic-bezier(0.2, 0, 0, 1);
  }
  
  .text:hover h4 {
    color: #171922;
  }
  
  .text:hover h4,
  .text:hover span {
    opacity: 1;
    transform: translateY(0);
  }
  
  .text:hover div {
    transform: scale(1.1);
    background-color: white;
    box-shadow:
      0 2px 10px 0 rgba(185,182,198,0.00),
      0 1px 3px 0 rgba(175,172,189,0.25);
  }
  
  .text:hover div::after {
    transform: translateX(-30px);
  }

  .infotd{
    text-align: justify;
  }
/******************************/
/*           FOOTER           */
/******************************/

footer {
    background-color: #1f1f1f;
    font-size: 13px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

/* Footer message */

.footer-message {
    padding: 10px 0 0 0;
    margin: 0;
}

.footer-message li {
    list-style-type: none;
}

/******************************/
/*          BUTTONS           */
/******************************/

.button-index {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #47b2e4;
    position: relative;
    left: 35%;
    margin-bottom: -300px;
}

.button-index:hover {
    color: #000;
    background-color: #6567dd;
}

@media all and (max-width: 750px) {
    .button-index {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 10px;
        border-radius: 50px;
        transition: 0.5s;
        color: #fff;
        background: #47b2e4;
        position: relative;
        left: 30%;
        margin-bottom: -300px;
    }
    
    .button-index:hover {
        color: #000;
        background-color: #6567dd;
    }
}

.button-header {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #47b2e4;
    position: relative;
    margin-top: 20px;
    left: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button-header:hover {
    background: #209dd8;
}

@media all and (max-width: 750px) {
    .button-header {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 10px;
        border-radius: 50px;
        transition: 0.5s;
        color: #fff;
        background: #47b2e4;
        position:grid;
        left: 32%;
    }
    
    .button-header:hover {
        color: #000;
        background-color: #6567dd;
    }
}